body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import '~antd/dist/antd.css';
@import 'App.css';
@import "TopNavBar.css";
@import "Main.css";
@import "Profile.css";
@import "ShotChart.css";
@import "DataViewContainer.css";

.shot-chart {
  width: 100px;
}
